/* styles for main app container */

div#app {
  display: flex;
  height: 100vh;
  width: 100%
  
}

div#main {
  display: flex;
  width:100%;
  flex-direction: column;
  margin: 20px;
  @media screen and (min-width: 768px) {
    margin: 50px;
  }
}




