  div.todo {
    margin: 8px;
    padding: 8px;
    background-color: rgb(210, 210, 210);
    border: 1px black solid;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 18px;
  }
  
  div.todo > span {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  div.todo > input[type="number"] {
    width: 32px;
  }

  
  /* 
  :checked is a pseudo class  
  + is "next sibling" selector 
  the rule means: when checkbox is checked, render the 
  text in the span next to it with a line-through it 
  */
  input:checked + span {
    text-decoration: line-through;
  }

  input:checked + span + input[type="number"] {
    display: none;
  }
  
  